<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                               
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036283">Java-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000012724">Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034622">Разработчик java</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ХОСТ</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038171">Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Return on Intelligence</td> 
     <td class="salary">До 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027056">java developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032007">java - разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">СДЭК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038209">Java разработчик</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Ak Bars Digital</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026832">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038406">Java-разработчик</a></td> 
     <td class="city">Сергиев Посад</td> 
     <td class="companyName">EPAM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038048">Java Core Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Carggo</td> 
     <td class="salary">От 140 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038151">java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Petshop.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038527">Middle Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Brains-UA</td> 
     <td class="salary">От 2 700 до 3 300 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038524">Java Lead Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Brains-UA</td> 
     <td class="salary">От 4 000 до 5 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038609">Java разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">EastBanc Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038655">Java разработчик (middle)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">CardPay</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038658">Java разработчик (middle)</a></td> 
     <td class="city">Владивосток</td> 
     <td class="companyName">CardPay</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038499">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Softline</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037407">Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Такском</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038440">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС Банк</td> 
     <td class="salary">От 120 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038455">Middle / Senior Java Developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035069">Middle java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Net Element</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038185">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Dino Systems (DINS)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036181">Senior Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Payneteasy</td> 
     <td class="salary">От 160 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027411">Java backend developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">JungleJobs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033413">Senior Java Developer (BackEnd)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036283">Java-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000012724">Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034622">Разработчик java</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ХОСТ</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038171">Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Return on Intelligence</td> 
     <td class="salary">До 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027056">java developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032007">java - разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">СДЭК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038209">Java разработчик</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Ak Bars Digital</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026832">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038406">Java-разработчик</a></td> 
     <td class="city">Сергиев Посад</td> 
     <td class="companyName">EPAM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038048">Java Core Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Carggo</td> 
     <td class="salary">От 140 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038151">java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Petshop.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038527">Middle Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Brains-UA</td> 
     <td class="salary">От 2 700 до 3 300 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038524">Java Lead Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Brains-UA</td> 
     <td class="salary">От 4 000 до 5 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038609">Java разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">EastBanc Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038655">Java разработчик (middle)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">CardPay</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038658">Java разработчик (middle)</a></td> 
     <td class="city">Владивосток</td> 
     <td class="companyName">CardPay</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038499">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Softline</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037407">Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Такском</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038440">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС Банк</td> 
     <td class="salary">От 120 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038455">Middle / Senior Java Developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035069">Middle java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Net Element</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038185">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Dino Systems (DINS)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036181">Senior Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Payneteasy</td> 
     <td class="salary">От 160 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027411">Java backend developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">JungleJobs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033413">Senior Java Developer (BackEnd)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037981">Старший Java-разработчик</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">ISS Art</td> 
     <td class="salary">От 80 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038025">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038592">Software Developer (Java)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Plesk</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036448">Senior JAVA/ Architect</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AXES Pro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027899">Middle Java Developer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">CodeInside</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038287">Senior Java developer (Big Data)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Solit Clouds</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038086">Senior Java Developer</a></td> 
     <td class="city">Барселона</td> 
     <td class="companyName">Viventor</td> 
     <td class="salary">От 2 500 до 3 200 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032430">Java/Web разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">AgriTask (ScanTask)</td> 
     <td class="salary">От 50 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038408">JAVA / swing developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">EDIReal</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038713">Senior/Middle Java Developer (проект, asap, удаленно)</a></td> 
     <td class="city"></td> 
     <td class="companyName">TopInt Co.</td> 
     <td class="salary">От 150 000 до 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038244">Разработчик Go/Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">2Reallife</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038696">Android-разработчик (Java + Kotlin, remote)</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">4Taps Mobile</td> 
     <td class="salary">От 80 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038297">Backend-разработчик (Java, Spring)</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">G2</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037983">Java developer в BigData</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037747">Android developer / Java разработчик</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">A-Mobile LLC</td> 
     <td class="salary">От 30 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034041">Senior Java Developer (Machine Learning)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038323">Разработчик интеграционных решений</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "ОЦРВ"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038150">Инженер по автоматизации тестирования (Java,Scala)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020386">Senior Android Developer (Java, Kotlin)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Tark Industries</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038080">Java разработчик, разработка high load сервиса, стабильный гос.проект</a></td> 
     <td class="city"></td> 
     <td class="companyName">Кадровое агентство «ВИЗАВИ Консалт»</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037275">Руководитель направления мониторинга интеграционной платформы</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АКБ РосЕвроБанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038173">Разработчик Blockchain</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">33 Слона</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037995">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ИП Ласилкин СИ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038191">Senior QA Automation Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Dino Systems (DINS)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031028">Software Developer (USA)</a></td> 
     <td class="city">Сиэтл</td> 
     <td class="companyName">Akvelon</td> 
     <td class="salary">От 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038721">Тестировщик ПО</a></td> 
     <td class="city">Калуга</td> 
     <td class="companyName">АЛГОНТ</td> 
     <td class="salary">От 40 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034736">Тестировщик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DOC+</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038389">Back-End разработчик (Java or Go or Python), Data Engeneer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">КА "Кадровые технологии"</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038106">Программист под Android (JAVA)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Duotek</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038597">QA</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CODEFATHER</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038175">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HR EXECUTIVE</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038174">Automation QA Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Open Services</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038681">Android Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Omnigon Communications, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038481">Backend Engineer / Senior Backend Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Chatfuel</td> 
     <td class="salary">От 120 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038043">Frontend -разработчик Java Script</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЗАО "Компания Информконтакт"</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038572">Senior C++ Developer/Architect</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary">От 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038567">Salesforce Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037025">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО "Рестрим"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035650">Full-stack разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Аквелон Иваново</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038566">Middle Javascript</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CODEFATHER</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038523">Senior Scala Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Brains-UA</td> 
     <td class="salary">От 4 000 до 5 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038454">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ремонтник.ру</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038610">Android developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">EastBanc Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038159">⚙️ QA Automation Engineer (Backend)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ManyChat</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038240">Golang разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HR Development</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038511">Разработчик OpenText</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АКБ РосЕвроБанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038263">Javascript Lead Programmer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DocDoc</td> 
     <td class="salary">От 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037445">Senior Jav‎a Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Капитан Джек"</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038428">Back-end разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">PROF-IT GROUP</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034091">Инженер развития и поддержки систем реального времени</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Delta Solutions</td> 
     <td class="salary">От 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038503">Инженер-программист (интеграционные сервисы)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АКБ РосЕвроБанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038358">React native developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">EDIReal</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038615">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Самали</td> 
     <td class="salary">От 100 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038618">Senior Mobile Engineer (iOS / Android)</a></td> 
     <td class="city"></td> 
     <td class="companyName">V3 Agency</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038192">Android developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">V3 Agency</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023624">Android разработчик</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Orange Rockets</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038506">Android-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Crystal Service Integration</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038143">Программист</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">Digital Agency PRO100</td> 
     <td class="salary">От 45 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036408">Frontend разработчик/Ведущий Frontend разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">МЕРЛИОН</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036900">Android разработчик (Kotlin)</a></td> 
     <td class="city">Обнинск</td> 
     <td class="companyName">Arcanite LLC</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032341">Mobile Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Аквелон Иваново</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038169">Backend-разработчики</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Hr_клуб</td> 
     <td class="salary">От 2 000 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038400">Ведущий Full-stack разработчик .NET (Front-end, Back-end) / программист</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">OTC.RU</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037428">PHP/My‎SQL/‎JS Developer&nbsp;</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SaveTime</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038416">Ведущий Full-stack разработчик .NET (Front-end, Back-end) / программист</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">OTC.RU</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038623">Ведущий Full-stack разработчик .NET (Front-end, Back-end) / программист</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OTC.RU</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038091">Teamlead backend разработчиков</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СофтТелематика</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036905">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">DocDoc</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038198">Junior Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Sweatсoin</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025222">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Sweatсoin</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037968">System architect / Blockchain architect</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Lark IT</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037425">Team Lead PHP/My‎SQL/JS Developer&nbsp;</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SaveTime</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038628">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GETMOBIT</td> 
     <td class="salary">От 120 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038318">Ruby-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО "Рестрим"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034005">Backend-разработчик</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">Sveak</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035314">Leading Developer- Technical Lead (distributed software systems) (remote work)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Petrosoft LLC</td> 
     <td class="salary">От 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036968">Ruby on Rails разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Elonsoft</td> 
     <td class="salary">До 75 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037257">Senior ​​​​​​​Front-end Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038016">Backend</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Art2Hire</td> 
     <td class="salary">От 130 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038685">Системный администратор/DevOps инженер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TechPanda</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038689">Эксперт отдела управления проектами (интеграция на базе IBM)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">НОВАТЭК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031242">Преподаватель вебинаров по web программированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 20 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038251">Разработчик С#/JS на платформе bpm'online</a></td> 
     <td class="city"></td> 
     <td class="companyName">Stern IT Consulting</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031796">Тестировщик ПО</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Такском</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034245">Программист ASP.NET MVC + AngularJS</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">HR_Kaliningrad</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038208">Специалист по тестированию мобильного приложения</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Ak Bars Digital</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033513">Разработчик С++</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">NT Progress</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038409">QA engineer</a></td> 
     <td class="city"></td> 
     <td class="companyName">EDIReal</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038587">DevOps &amp; QA Python</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Ювелирная сеть 585GOLD</td> 
     <td class="salary">От 130 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038088">Senior front-end developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Softaria</td> 
     <td class="salary">От 85 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038571">Программист Python</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ДатаЛайн</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035304">Архитектор Jira</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036849">Инженер по автоматизации тестирования</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Либерти Страхование АО</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035988">Старший разработчик С++ (моб⁢ильные и desktop-приложения)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027106">Инженер по нагрузочному тестированию</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038633">Ведущий Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Traft (ООО "ТРАФТ")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033669">React Native / React.JS программист удалённо</a></td> 
     <td class="city"></td> 
     <td class="companyName">Start Mobile</td> 
     <td class="salary">От 55 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026082">Разработчик мобильных приложений (Android)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022692">Web-программист</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">ГК Деньги Сразу</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038582">Front-end JavaScript Developer (React)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ювелирная сеть 585GOLD</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038420">iOS разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Dialog</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038190">Senior C++ Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Dino Systems (DINS)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033500">Frontend Developer (JS, React, React Native)</a></td> 
     <td class="city"></td> 
     <td class="companyName">InterPals.net</td> 
     <td class="salary">От 2 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033303">Frontend разработчик / Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038385">Разработчик C#</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ООО "Саттелит Инновация"</td> 
     <td class="salary">От 35 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038581">Разработчик Python (backend)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ювелирная сеть 585GOLD</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035654">Ведущий PHP - разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DocDoc</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038626">Архитектор ИБ</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GETMOBIT</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23640185?query=java%20Odessa">Java developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Petrosoft Inc.</td> 
     <td class="salary">от 2&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23358990?query=java%20Odessa">Senior Java Engineer / Team Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">LifeStreet Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23358992?query=java%20Odessa">Senior Java Engineer / Team Lead</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">LifeStreet Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23358981?query=java%20Odessa">Senior Automation (Java) QA Engineer (SDET)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">LifeStreet Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23208908?query=java%20Odessa">Senior Automation/Java QA&nbsp;Engineer (SDET)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">LifeStreet Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23737643?query=java%20Odessa">QA Automation (Python or Java)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23554228?query=java%20Odessa">Team Lead Java (Hybris) Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">HYS Enterprise</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/22790485?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary">3&nbsp;000-5&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23775678?query=java%20Odessa">WEB/Data Analyst</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Lucky Labs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23208907?query=java%20Odessa">Senior Automation (Ja⁢va) QA Engineer SDET</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">LifeStreet Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23606710?query=java%20Odessa">Frontend программист</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ТОО ALMA INFORM PRESS</td> 
     <td class="salary">1&nbsp;000-2&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23749569?query=java%20Odessa">QA automation engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary">700-1&nbsp;800 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23687702?query=java%20Odessa">Android Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО AppsStudio</td> 
     <td class="salary">1&nbsp;200-2&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23776313?query=java%20Odessa">Программист ( IBM)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Пивденный, Акционерный Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23774422?query=java%20Odessa">Frontend-разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Easyms</td> 
     <td class="salary">300-700 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23591833?query=java%20Odessa">Android Developer</a></td> 
     <td class="city">Винница</td> 
     <td class="companyName">SteelKiwi</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23559264?query=java%20Odessa">Водитель со своим легковым авто</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Такси 797, Мультисервис</td> 
     <td class="salary">от 10&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/22842399?query=java%20Odessa">Senior PHP Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">CAMO IT</td> 
     <td class="salary">2&nbsp;200-4&nbsp;950 USD</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>